.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.image-top {
    grid-column: 1 / 8;
    grid-row: 1;

    filter: drop-shadow(0px 6px 24px #E4E2EE);
    border-radius: 14px;
}

.image-bottom {
    grid-column: 6 / 12;
    grid-row: 1;
    z-index: 1;

    filter: drop-shadow(0px 6px 24px #E4E2EE);
    border-radius: 14px;

    padding-top: 100%;
}