.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    padding: 37px 30px;

    background-color: #FFFFFF;
    box-shadow: 0 6px 24px #E4E2EE;
}

.container-button {
    display: grid;
    grid-template-rows: 1.1fr 2fr;

    margin-left: 15px;
}

.button {
    grid-row-start: 2;

    padding: 16px 0;

    background-color: var(--color-yellow);
    outline: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #22283C;

    box-shadow: 0 6px 24px rgba(255, 200, 20, 0.4);
    border-radius: 4px;
    border: none;
}

.button:hover {
    background-color: var(--color-yellow-dark);

    box-shadow: 0 6px 24px rgb(199, 152, 0, 0.4);
    cursor: pointer;
}

.button:active {
    background-color: var(--color-yellow-dark);
}