.container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 96px 0;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;

    font-weight: 600;
    font-size: 370px;
    line-height: 250px;
    color: rgba(244, 246, 250, 0.8);
}

.image {
    position: absolute;
    width: 300px;
    bottom: 55px;
    right: -180px;
    z-index: -100;
}