.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;

    margin-right: 10px;

    background-color: #fff;
    box-shadow: 0 6px 24px #E4E2EE;
    border-radius: 4px 4px 0 0;

    cursor: pointer;
}

.item-active {
    background-color: var(--color-yellow);
}

.container-image {
    margin: 10px;
}

.text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #1F3347;
    margin-bottom: auto;
    margin-top: auto;
}